/node_modules
/public/hot
/public/storage
/public/images/business/*
/public/images/categorias-localizaciones/*
/public/images/localizaciones/*
/public/images/avisos/*
/public/images/widgets/*
/public/images/events/*
/public/images/rutas/*
/public/images/instancias/*
/public/images/phones/*
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
